.load-btn {

    background-color: lightblue;
    border: none;
    stroke: black;
    width: 100px;
    height: 34px;
    font-size: 18px;
    border-radius: 5px;

}

.load-btn:hover {

    background-color: black;
    color: aliceblue;
    
}